// All variables for css
@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat');
$pink: #FF4E50;
$green: #18D4CA;
$orange: #FFA710;
$purple: #667DF3;
$darkGrey: #444444;
$grey: #666666;